{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<ul class="menu doghouse-megamenu__menu">
  {% for item in items %}
    {%
      set classes = [
      'menu-item',
      'doghouse-megamenu__link',
      item.menu_item.is_expanded ? 'menu-item--expanded',
      item.menu_item.is_collapsed ? 'menu-item--collapsed',
      item.menu_item.in_active_trail ? 'menu-item--active-trail',
    ]
    %}
    <li class="doghouse-megamenu__item">
      {% set linkTitle %}
        <span>{{ item.menu_item.title }}</span>
      {% endset %}
      {{ link(linkTitle, item.menu_item.url, create_attribute(item.menu_item.url.options.attributes).addClass(classes)) }}
      {% if item.block %}
        <div class="doghouse-megamenu__submenu-block">
          {{ item.block }}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
