$doghouse-menu-spacing-unit: 12px;
$doghouse-menu-spacing-unit-x2: $doghouse-menu-spacing-unit * 2;
$doghouse-menu-width: 300px;
$doghouse-menu-background-color: #1c1d22;
$doghouse-menu-link-color: #bdbdbd;
$doghouse-menu-link-color--hover: #5c5edc;
$doghouse-menu-link-crumbs-color: #5c5edc;
$doghouse-menu-link-crumbs-color--hover: #8182e0;
$doghouse-menu-link-crumbs-separator-color: #5c5edc;
$doghouse-menu-link-easing: cubic-bezier(0.7, 0, 0.3, 1);

