@import "variables";
@import "animations";

.doghouse-menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > h2 {
    padding: 0 $doghouse-menu-spacing-unit-x2;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__wrap {
    position: relative;
    transition: height 750ms ease;
    height: 100%;
  }

  &__level {
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% + 50px);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    padding-right: 50px;
    box-sizing: border-box;

    &--current {
      visibility: visible;
    }
  }

  &__link {
    text-decoration: none;
    padding: $doghouse-menu-spacing-unit $doghouse-menu-spacing-unit-x2;
    display: block;
    color: $doghouse-menu-link-color;
    position: relative;
    border: 0;

    &[data-submenu]::after {
      content: '+';
      position: absolute;
      right: 0;
      padding: 0 $doghouse-menu-spacing-unit;
      color: $doghouse-menu-link-color;
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover,
    &[data-submenu]:hover::after {
      color: $doghouse-menu-link-color--hover;
    }

    &--current::before {
      content: '0';
      font-size: 1.5em;
      line-height: 0;
      position: absolute;
      top: 50%;
      left: 0.5em;
      height: 4px;
      color: $doghouse-menu-link-color--hover;
    }
  }

  &__nav {
    display: block;
    font-size: 0.65em;
    line-height: 1;
    position: relative;
    padding: $doghouse-menu-spacing-unit $doghouse-menu-spacing-unit-x2;
  }

  &[data-menu-type="accordion"] {
    .menu-item--expanded > .menu {
      display: none;
    }
  }

  &__breadcrumbs {
    font-size: 0.65em;
    line-height: 1;
    position: relative;
    padding: $doghouse-menu-spacing-unit $doghouse-menu-spacing-unit-x2;

    a {
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $doghouse-menu-link-crumbs-color;

      &:last-child {
        pointer-events: none;
      }

      &:hover {
        color: $doghouse-menu-link-crumbs-color--hover;
      }

      &:not(:last-child)::after {
        content: '-';
        display: inline-block;
        padding: 0 0.5em;
        color: $doghouse-menu-link-crumbs-separator-color;
      }

      &:not(:last-child):hover::after {
        color: $doghouse-menu-link-crumbs-separator-color;
      }
    }
  }
}

[class^='doghouse-menu-animate--'],
[class*=' doghouse-menu-animate--'] {
  visibility: visible;

  .doghouse-menu__item {
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: $doghouse-menu-link-easing
  }
}

.doghouse-menu-animate--out-left .doghouse-menu__item {
  animation-name: outToLeft;
}

.doghouse-menu-animate--in-right .doghouse-menu__item {
  animation-name: inFromRight;
}

.doghouse-menu-animate--out-right .doghouse-menu__item {
  animation-name: outToRight;
}

.doghouse-menu-animate--in-left .doghouse-menu__item {
  animation-name: inFromLeft;
}
