@import "variables";
@import "animations";

.region-doghouse-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  pointer-events: none;

  &__wrapper {
    height: 100%;
    transition: transform 250ms ease;
    transform: translateX(-100%);
    background: white;
    display: flex;
    flex-direction: column;
    pointer-events: visible;
    overflow-y: scroll;

    > .block:not(.block-doghouse-menu-close) {
      flex: 1 0 auto;
    }
  }

  .doghouse-menu--open & {
    pointer-events: visible;
  }

  .doghouse-menu--open &__wrapper {
    transform: translate(0%, 0%);
  }

  .toolbar-fixed.toolbar-vertical &,
  .toolbar-horizontal.toolbar-fixed & {
    top: 39px;
  }

  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
    top: 79px;
  }

  .toolbar-fixed.toolbar-vertical.toolbar-tray-open  & {
    top: 39px;
    left: 15rem;
  }
}

body.doghouse-menu--open {
  overflow-y: hidden;
  max-height: 100vh;
}
