{%
  set classes = [
    'doghouse-menu-close__button',
    'js-doghouse-menu-close',
  ]
%}
<button {{ attributes.addClass(classes) }}>
  <span class="doghouse-menu-close__text">{{ text }}</span>
</button>
