<div class="doghouse-menu__wrap">
  {% for key, submenu in items %}
    <ul {{ submenu.attributes.addClass('doghouse-menu__level') }}>
      {% if submenu.depth > 0 %}
        <li {{ create_attribute().addClass('doghouse-menu__item') }}>
          <a href="#" data-active-tree="0" class="doghouse-menu__nav"><span>back</span></a>
        </li>
      {% endif %}
      {% for item in submenu.items %}
        <li {{ item.attributes.addClass('doghouse-menu__item') }}>
          {% set linkTitle %}
            <span>{{ item.title }}</span>
          {% endset %}
          {{ link(linkTitle, item.url, create_attribute(item.url.options.attributes).addClass('doghouse-menu__link')) }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
