{%
  set classes = [
    'doghouse-menu-toggle__button',
    'js-doghouse-menu-toggle',
  ]
%}
<button {{ attributes.addClass(classes) }}>
  <span class="doghouse-menu-toggle__text" >{{ text }}</span>
</button>
