.mega-menu__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mega-menu__content {
  width: calc(50% - 10px);
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #fcfcfa;
}
